@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --primary-font: 'Raleway', sans-serif;

  --primary-color: #100e1d;
  --secondary-color: #1e213a;
  --white: #e7e7eb;
  --gray: #88869d;
  --soft-gray: #a09fb1;
  --btn-gray: #6e707a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
}
