.CurrentWeather {
  text-align: center;
}
.CurrentWeather-image {
  width: 150px;
  height: 150px;
  margin: 30px auto 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.CurrentWeather-image img {
  width: 100%;
  height: 100%;
}
.CurrentWeather-image .Loader {
  width: 100%;
  height: 100%;
  font-size: 36px;

  animation: spin 1s linear infinite;
}
.CurrentWeather-content {
  height: 100%;
  padding-bottom: 90px;
}
.CurrentWeather-temp {
  font-size: 144px;
  font-weight: 600;
  line-height: 144px;
}
.CurrentWeather-temp span {
  font-size: 60px;
  color: var(--soft-gray);
  font-weight: 500;
}
.CurrentWeather-state {
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: var(--soft-gray);
}
.CurrentWeather-date,
.CurrentWeather-location {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: var(--gray);
}
.CurrentWeather-date {
  font-weight: 500;
  margin-bottom: 33px;
}
.CurrentWeather-date span {
  margin-left: 12px;
  margin-right: 12px;
}
.CurrentWeather-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
